
h1{
    background-color: black;
    text-align: left;
    color: white;
    
}
#cloud
{
    color: aqua;
}
h2{
    background-color: rebeccapurple;
    text-align: center;
    font-style: italic;
    color: white;
}
h3
{
    background-color: cornflowerblue;
    text-align: right;
    text-decoration: underline;
    color: rebeccapurple;
}